<launch>
  <arg name="namespace" default="dvs" />
  <arg name="serial_number" default="" />

  <group ns="$(arg namespace)">
    <node name="event_camera_driver" pkg="davis_ros_driver" type="davis_ros_driver" output="screen">
      <param name="serial_number" value="$(arg serial_number)" />
    </node>
  </group>
</launch>
