<launch>
  <arg name="cam0_namespace" default="cam0" />
  <arg name="cam1_namespace" default="cam1" />
  <arg name="cam0_serial" default="" />
  <arg name="cam1_serial" default="" />
  <arg name="cam1_start_delay" default="1.0" />

  <group ns="$(arg cam0_namespace)">
    <node name="event_camera_driver" pkg="dvxplorer_ros_driver"
          type="dvxplorer_ros_driver" output="screen">
      <param name="serial_number" type="str" value="$(arg cam0_serial)" />
      <param name="master" value="true" />
      <param name="reset_timestamps_delay" value="2.0" />
    </node>
  </group>
  <group ns="$(arg cam1_namespace)">
    <node name="event_camera_driver" pkg="dvxplorer_ros_driver"
          type="dvxplorer_ros_driver" output="screen"
          launch-prefix="bash -lc 'sleep $(arg cam1_start_delay); exec &quot;$@&quot;' bash">
      <param name="serial_number" type="str" value="$(arg cam1_serial)" />
      <param name="master" value="false" />
      <remap from="reset_timestamps" to="/$(arg cam0_namespace)/reset_timestamps" />
    </node>
  </group>
</launch>
