<launch>
  <arg name="namespace" default="dvs" />
  <arg name="camera_serial" default="" />
  <arg name="camera_name" default="" />
  <arg name="frame_id" default="event_camera_optical_frame" />
  <arg name="camera_info_url" default="" />
  <arg name="bias_file" default="" />
  <arg name="event_delta_t" default="0.001" />
  <arg name="sync_mode" default="standalone" />
  <arg name="timestamp_offset_sec" default="0.0" />

  <group ns="$(arg namespace)">
    <node name="event_camera_driver" pkg="event_camera_prophesee_tools"
          type="prophesee_dvs_driver" output="screen">
      <param name="camera_serial" type="str" value="$(arg camera_serial)" />
      <param name="camera_name" value="$(arg camera_name)" />
      <param name="frame_id" value="$(arg frame_id)" />
      <param name="camera_info_url" value="$(arg camera_info_url)" />
      <param name="bias_file" value="$(arg bias_file)" />
      <param name="event_delta_t" value="$(arg event_delta_t)" />
      <param name="sync_mode" value="$(arg sync_mode)" />
      <param name="timestamp_offset_sec" value="$(arg timestamp_offset_sec)" />
      <param name="trigger_enabled" value="true" />
      <param name="trigger_channel" value="0" />
      <param name="expected_width" value="640" />
      <param name="expected_height" value="480" />
      <param name="expected_generation_major" value="3" />
      <param name="expected_system_ids" value="21,28" />
    </node>
  </group>
</launch>
