<launch>
  <arg name="cam0_namespace" default="cam0" />
  <arg name="cam1_namespace" default="cam1" />
  <arg name="cam0_serial" />
  <arg name="cam1_serial" />
  <arg name="cam0_device_identifier" default="$(arg cam0_serial)" />
  <arg name="cam1_device_identifier" default="$(arg cam1_serial)" />
  <arg name="cam0_bias_file" default="" />
  <arg name="cam1_bias_file" default="" />
  <arg name="event_delta_t" default="0.001" />
  <arg name="sync_mode" default="standalone" />
  <arg name="timestamp_offset_sec" default="0.0" />
  <arg name="display_method" default="red-blue" />

  <include file="$(find event_camera_lab_bringup)/launch/prophesee_evk4_dual_live_stream.launch">
    <arg name="cam0_namespace" value="$(arg cam0_namespace)" />
    <arg name="cam1_namespace" value="$(arg cam1_namespace)" />
    <arg name="cam0_serial" value="$(arg cam0_serial)" />
    <arg name="cam1_serial" value="$(arg cam1_serial)" />
    <arg name="cam0_device_identifier" value="$(arg cam0_device_identifier)" />
    <arg name="cam1_device_identifier" value="$(arg cam1_device_identifier)" />
    <arg name="cam0_bias_file" value="$(arg cam0_bias_file)" />
    <arg name="cam1_bias_file" value="$(arg cam1_bias_file)" />
    <arg name="event_delta_t" value="$(arg event_delta_t)" />
    <arg name="sync_mode" value="$(arg sync_mode)" />
    <arg name="timestamp_offset_sec" value="$(arg timestamp_offset_sec)" />
  </include>

  <group ns="$(arg cam0_namespace)">
    <node name="dvs_renderer" pkg="dvs_renderer" type="dvs_renderer" output="screen">
      <param name="display_method" value="$(arg display_method)" />
      <remap from="events" to="/$(arg cam0_namespace)/events" />
      <remap from="camera_info" to="/$(arg cam0_namespace)/camera_info" />
      <remap from="dvs_rendering" to="/$(arg cam0_namespace)/dvs_rendering" />
    </node>
    <node name="image_view" pkg="rqt_image_view" type="rqt_image_view"
          args="/$(arg cam0_namespace)/dvs_rendering" output="screen" />
  </group>
  <group ns="$(arg cam1_namespace)">
    <node name="dvs_renderer" pkg="dvs_renderer" type="dvs_renderer" output="screen">
      <param name="display_method" value="$(arg display_method)" />
      <remap from="events" to="/$(arg cam1_namespace)/events" />
      <remap from="camera_info" to="/$(arg cam1_namespace)/camera_info" />
      <remap from="dvs_rendering" to="/$(arg cam1_namespace)/dvs_rendering" />
    </node>
    <node name="image_view" pkg="rqt_image_view" type="rqt_image_view"
          args="/$(arg cam1_namespace)/dvs_rendering" output="screen" />
  </group>
</launch>
